*body {
  margin: 0;
  padding: 0;
}

.modal {
  flex-direction: column;
}

.logo {
  width: 15rem;
}

.background_image {
  margin: auto;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -2;
  position: absolute;
}

.background_color {
  background: rgb(0 0 0 / 60%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}


.login_container {
  width: 100%;
}

.card_1 {
  background-color: rgba(0, 0, 0, 40%);
  padding: 4rem;
  color: white;
  margin: 3.5rem auto 0;
  width: 25%;
  border-radius: 4px;
}


.email_login {
  width: 100%;
  background-color: rgba(0, 0, 0, 60%);
  color: white;
  padding: 1rem 0 1rem 0.2rem;
  margin: 1rem 0;
  border: gray solid 0.5px;
  border-radius: 4px;
}

.btn_login {
  width: 100%;
  font-size: 1rem;
  margin-top: 3rem;
  font-weight: 700;
  background-color: #E50914;
  color: white;
  padding: 1rem;
  border: #E50914 solid 0.5px;
  border-radius: 4px;
  cursor: pointer;
}

.help_feature input,
label,
a {
  font-size: 12px;
  cursor: pointer;
  color: gray;
  font-weight: 600;
}

.help_feature {
  display: flex;
  align-items: center;
}

.help_feature label {
  margin-right: auto;
  margin-left: 5px;
}